<html>
    <head>
        <style>

          #cabecalho{
            margin: auto 0 ;
            align-items: center;
            justify-content: center;
            display: flex;
          }

           #imgcabecalho{
               background-image: url('https://back-sta.herokuapp.com/files/logo.png');
               background-repeat: no-repeat;
               width: 100%;
               height: 100%;
               position: absolute;
               margin-top: 6px;
               left: 38%;
           }

            table{
                font-family: arial,sans-serif;
                border-collapse: collapse;
                width: 100%;
                margin-top:80px;
            }
        
            td,th{
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
        </style>

    </head>
    <body>

            <div id="cabecalho">
              <div id="imgcabecalho"></div>
              <h3 style="text-align: center;">Sistema Santa Teresinha - Escala <%= tipo%></h3>
            </div>
            
            <table  class="table table-bordered" class="tabela-1" >
            
           
              <div id="imgpage1"> </div>

                <thead class="head">
                  <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Dia</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Comunidade</th>
                    <th scope="col">Acolitos</th>
                    <th scope="col">Coroinhas</th>
                  </tr>
                </thead>
           
                <tbody>

                      <% pagina1.forEach(p1 =>{ %>
                    <tr>
                        <td><%= p1.data %></td>
                        <td><%= p1.dia %></td>
                        <td><%= p1.hora %></td>
                        <td><%= p1.comunidade %></td>
                        <td><%= p1.acolito1 %><br>
                            <%= p1.acolito2 %><br>
                            <%= p1.acolito3 %><br>
                        </td>
                        <td><%= p1.coroinha1 %><br>
                            <%= p1.coroinha2 %><br>
                            <%= p1.coroinha3 %><br>
                            <%= p1.coroinha4 %><br>
                            <%= p1.coroinha5 %><br>
                        </td>
                      
          
                    </tr>

                    <% }) %>
              
                </tbody>
              </table>
              
              <br><br>

            <% if(pagina2 != undefined){ %>

              
              <div id="cabecalho">
                <div id="imgcabecalho"></div>
                <h3 style="text-align: center;">Sistema Santa Teresinha - Escala <%= tipo%></h3>
              </div>

            <table  class="table table-bordered" class="tabela-1" >
            
              <div id="imgpage2"> </div>

              <thead class="head">
                <tr>
                  <th scope="col">Data</th>
                  <th scope="col">Dia</th>
                  <th scope="col">Hora</th>
                  <th scope="col">Comunidade</th>
                  <th scope="col">Acolitos</th>
                  <th scope="col">Coroinhas</th>
                </tr>
              </thead>

              <tbody>

                    <% pagina2.forEach(p2 =>{ %>
                  <tr>
                      <td><%= p2.data %></td>
                      <td><%= p2.dia %></td>
                      <td><%= p2.hora %></td>
                      <td><%= p2.comunidade %></td>
                      <td><%= p2.acolito1 %><br>
                          <%= p2.acolito2 %><br>
                          <%= p2.acolito3 %><br>
                      </td>
                      <td><%= p2.coroinha1 %><br>
                          <%= p2.coroinha2 %><br>
                          <%= p2.coroinha3 %><br>
                          <%= p2.coroinha4 %><br>
                          <%= p2.coroinha5 %><br>
                      </td>
                    
        
                  </tr>

                  <% }) %>
            
              </tbody>
            </table>

            <% } %>

    </body>
</html>