<html>
    <head>
        <style>
            table{
                font-family: arial,sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
        
            td,th{
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
        </style>

        <script>
          console.log(escalas)
        </script>
    </head>
    <body>
        <h3 style="text-align: center;">Sistema Sta escala_coroinha</h3>
        <table class="table table-bordered" class="tabela-1" >
        
            <thead class="head">
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Dia</th>
                <th scope="col">Hora</th>
                <th scope="col">Comunidade</th>
                <th scope="col">Acolitos</th>
                <th scope="col">Coroinhas</th>
              </tr>
            </thead>

            <tbody>
                <% if( escalas.lenght > 0 ) { %>
                  <% escalas.forEach(escala =>{ %>
                <tr>
                    <td><%= escala.data %></td>
                    <td><%= escala.dia %></td>
                    <td><%= escala.hora %></td>
                    <td><%= escala.comunidade %></td>
                    <td><%= escala.acolito1 %></td>
                    <td><%= escala.coroinha1 %></td>
      
                </tr>
  
                <% }) %>
                <% } %>
            </tbody>
          </table>
    </body>
</html>